extends ../../base_template/_base_body_empty

block content 
    .container-50.p-sm.mg-c.mg-b-sm.mg-b-sm-all

        header
            .logo-box-sm.mg-b-md.center
                img.logo(src='../../../../img/amazon/logo.png' alt='')

        .alert

        article
            block form


    footer      
        .mg-b-md.width-80p
            .line-shadow
        .mg-c.container-60.f-col.mg-b-hg
            .f-md.mg-b-sm
                button.btn-inline-span.f-size-sm Conditions of Use
                button.btn-inline-span.f-size-sm Privacy Notice
                button.btn-inline-span.f-size-sm Help
            p.t-sm &copy; 1996-2022, Amazon.com, Inc. or its affiliates