.positionel.dropdown(data-dropdown-type='select-options-dropdown' data-positionel-name='update-cart-item-qty-dropdown' data-positionel-type='dropdown' data-active='false' data-position-type='absolute' data-load-spinner='false' data-animation='fade' data-pointer-position='none' data-position='cover' data-delay-hide='false' data-show-event='click' data-static='false' data-has-defined-class='true' data-child-positionel='false' data-set-positionbtn-width='false' data-change-positionbtn-text='false')
    .overlay.overlay-t
    .positionel-container(style='max-height: unset; overflow-y: auto; width: auto')
        .positionel-content
            // list
            ul.list(data-text-wrap='' data-query='filter')
                li.list-item(data-action='delete-checkout-item' data-value='' data-active='true')
                    p 0(Delete)
                li.list-item(data-value='1' data-active='false')
                    p 1
                li.list-item(data-value='2' data-active='false')
                    p 2
                li.list-item(data-value='3' data-active='false')
                    p 3
                li.list-item(data-value='4' data-active='false')
                    p 4
                li.list-item(data-value='5' data-active='false')
                    p 5
                li.list-item(data-value='6' data-active='false')
                    p 6
                li.list-item(data-value='7' data-active='false')
                    p 7
                li.list-item(data-value='8' data-active='false')
                    p 8
                li.list-item(data-value='9' data-active='false')
                    p 9
                li.list-item(data-value='10' data-active='false')
                    p 10
