.tooltip.positionel(data-positionel-type='tooltip' data-positionel-name='set-userprofile-imgs' data-active='false' data-pointer-position='center' data-position='bottom' data-animation='fade' data-show-event='click' data-delay-hide='false' data-load-spinner='false' data-static='false' data-has-defined-class='true' data-child-positionel='false' data-width='auto')
    // data-set-position-manual
    .positionel-container.p-lw(style='\
        transform: translate(-40%, 18%) !important;\
    ')
        .positionel-square
        .positionel-content(style='min-height: unset')
            label.pointer.list-item.p-sl(for='cover_pic') Upload
            li.pointer.list-item.p-sl(data-action='delete' data-field='cover_pic')
                | Delete
