// change-language-dropdown
.dropdown.positionel(data-positionel-name='choose-language' data-positionel-type='dropdown' data-active='false' data-hover-show='true' data-pointer-position='left' data-position='bottom' data-delay-hide='false' data-load-spinner='false' data-animation='fade' data-show-event='mouseover' data-static='false' data-has-defined-class='false' data-hide-by='default' data-child-positionel='false')
    .overlay
    .dropdown-container.positionel-container.p-b-sm
        .positionel-square
        .positionel-content
            header.list-item(data-col='2' data-hover='false')
                .checkbox(data-circle-at-center='true' data-active='true' data-='')
                p English - En
            .line
            // content
            article

            .line.mg-b-lw
            footer.p-lw
                | You are shopping on Amazon.in
                .center
                    p.pt-sm.blue.hover-underline-blue
                        | Change country/region
