// search-products-dropdown
.positionel.dropdown(data-positionel-name='search-products' data-positionel-type='dropdown' data-active='false' data-pointer-position='false' data-position='bottom' data-delay-hide='false' data-load-spinner='false' data-static='false' data-has-defined-class='true' data-hide-by='default' data-animation='fade' data-show-event='click' data-child-positionel='false')
    .overlay
    .positionel-container
        .positionel-content
            .list
                .list-item iphone in all Categories
