footer.footer
    button.btn-tertiary.btn-100.pt-sm(data-action='move-to-top-of-page')
        span.pt-md Back to top
    .footer-container
        .footer-navigation
            .footer-navigation-content.container-60.mg-c.f.f-sb
                .footer-list
                    h.h-8.mg-b-sm Get to Know Us
                    p.t-sm.mg-b-lw About Us
                    p.t-sm.mg-b-lw Careers
                    p.t-sm.mg-b-lw Press Releases
                    p.t-sm.mg-b-lw Amazon Science
                .footer-list
                    h.h-8.mg-b-sm Connect with Us
                    p.t-sm.mg-b-lw About Us
                    p.t-sm.mg-b-lw Careers
                    p.t-sm.mg-b-lw Press Releases
                    p.t-sm.mg-b-lw Amazon Science
                .footer-list
                    h.h-8.mg-b-sm Let Us Help You
                    p.t-sm.mg-b-lw COVID-19 and Amazon
                    p.t-sm.mg-b-lw Returns Centre
                    p.t-sm.mg-b-lw 100% Purchase Protection
                    p.t-sm.mg-b-lw Amazon Science
        .copyright
            .copyright-container.container-60.mg-c
                p.pt-lw Conditions of Use &amp; Sale
                p.pt-lw Privacy Notice
                p.pt-lw Interest Based Ads
                p.pt-lw 1996-2022,Amazon.com, Inc or its affliates
