extends ../../common_page

block section
    section.section-createReview
        .createReview-container
            // change user name
            include ./form/changeUserNameForm.pug

            // create review
            include ./form/reviewForm.pug

