extends ../base

block form 
    // form
    form.form.mg-b-sm-all(data-type='login-enter-password' data-error='false' onsubmit='return false;' data-clear-inputs-when-hide='true' data-static='true' data-redirect-to="/")

        .form-container
            h.h-4.h-m Sign in
            // enter email
            .f-sl
                input.hidden(type='text' name='email' data-input  data-set-value=email)
                p.login-entered-email= email
                a.btn-inline-span(href='/auth/login/0') Change
            .form-group(data-error='false' data-required='true')
                .f.f-sb.f-ab
                    h.h-9 Password
                    a.btn-inline-span(href=`/auth/forgotPassword/0`) Forgot Password
                input(type='password' data-input name='password' minlength='6')
                .form-error
                    i.fas.fa-exclamation
                    p Password at least 6 character.
            button.btn-g.btn-100.mg-b-md(data-action="submit") Sign in


            //- checkbox input group el
            .f-lw.f-ab.form-checkbox-group
                button.btn-checkbox(data-active='false')
                    i.fas.fa-check
                p Keep me signed in.
                input(type="text" data-input class="hidden" name="keepMeSignedIn")



                // tooltip
                // details tooltip
                div
                    button.btn-inline.f-sm.f-ac(data-positionel-btn='' data-positionel-name='details-tooltip')
                        p Details
                        i.fa.fa-caret-down
                    .tooltip.positionel(data-positionel-type='tooltip' data-positionel-name='details-tooltip' data-active='false' data-pointer-position='bottom' data-position='top' data-animation='fade' data-show-event='click' data-delay-hide='false' data-load-spinner='false' data-static='false' data-has-defined-class='false' data-child-positionel='false')
                        .positionel-container.p-0
                            // trigger btn-> when click hide content will show
                            .positionel-square
                            // hide content
                            .positionel-header
                                h.h-9  &quot;Keep Me Signed In&quot; Checkbox
                                button.btn-icon.positionel-closebtn
                                    i.fa.fa-times(aria-hidden='true')
                            // hide content
                            .positionel-content.p-sm
                                p.pt-sm.mg-b-sm
                                    | Choosing &quot;Keep me signed in&quot; reduces the number of times
                                    | you&apos;re asked to Sign-In on this device.
                                p.pt-sm
                                    | To keep your account secure, use this option only on your
                                    | personal devices.
