extends ../base
block form
    form.form.mg-b-sm-all.mg-b-md(data-type='set-new-password' data-error='false' onsubmit='return false;' data-clear-inputs-when-hide='true' data-static="true")

        //- hidden input
        input(type="text" class="hidden" data-input  name="email"  value=email data-set-default-value)

        .form-container
            h.h-4.h-m Create new password
            p We&apos;ll ask for this password whenever you sign in.

            // new password
            .form-group(data-error='false' data-required='true')
                h.h-9 New password
                input(type='password' name='password' data-input='' minlength='6')
                .form-hint
                    i.fas.fa-exclamation
                    p Password must be at least 6 characters.


            // enter the new password
            .form-group(data-error='false' data-required='true')
                h.h-9 Password again
                input(type='password' name='password_again' data-input='' data-same-value-as-input="password" minlength="6")
                .form-error
                    i.fas.fa-exclamation
                    p Password not matched.



            button.btn-g.btn-100.mg-b-md(data-action='submit')
                | Save changes and sign in
                
    // notes
    div
        h.h-5.h-m Secure password tips
        ul.list(data-ordered-list='')
            p
                | Use at least 8 characters, a combination of numbers and letters is
                | best.
            p Do not use the same password you have used with us previously.
            p
                | Do not use dictionary words, your name, e-mail address, mobile phone
                | number or other personal information that can be easily obtained.
            p Do not use the same password for multiple online accounts.
