.hovercard.positionel(data-positionel-name='shipping-address-in-detail' data-positionel-type='hovercard' data-active='false' data-position-type='absolute' data-pointer-position='left' data-position='center' data-delay-hide='false' data-load-spinner='false' data-static='false' data-has-defined-class='true' data-hide-by='default' data-animation='fade' data-show-event='mouseover' data-child-positionel='false')
    .overlay.overlay-t
    .hovercard-container.positionel-container.r-md.p-sm.p-b-md(style='width: 30rem')
        .positionel-square
        .spinner.hide
        .positionel-content
            p(data-value)
                | Rohit Hno 68 Gali No.3 nearik Girls Inter
                | College Lala Mohammadpur Road MEERUT, UTTAR
                | PRADESH 250001 India Phone: 8057540756
