.positionel.dropdown(data-dropdown-type='select-options-dropdown' data-positionel-name='move-item-to-list-dropdown' data-positionel-type='dropdown' data-active='false' data-position-type='fixed' data-load-spinner='true' data-animation='fade' data-pointer-position='none' data-position='cover' data-delay-hide='false' data-show-event='click' data-static='false' data-has-defined-class='true' data-child-positionel='false' data-set-positionbtn-width='false' data-query='{"url":"users/me/wishlists","method":"get","manual":"false"}' data-data={fromWishlistId:curWishlishId})
    .overlay.overlay-t
    .positionel-container(style='min-height:5rem; overflow-y: auto;')
        .spinner.spinner-sm
        .positionel-content
            // list
            .list(data-text-wrap='')
                .list-item
