<footer class="footer hidden">
  <div class="footer-container">
    <div class="footer-navigation">
      <div class="footer-navigation-content container-60 mg-c f f-sb">
        <div class="footer-list">
          <h class="h-8 mg-b-sm">Get to Know Us</h>
          <p class="t-sm mg-b-lw">About Us</p>
          <p class="t-sm mg-b-lw">Careers</p>
          <p class="t-sm mg-b-lw">Press Releases</p>
          <p class="t-sm mg-b-lw">Amazon Science</p>
        </div>
        <div class="footer-list">
          <h class="h-8 mg-b-sm">Connect with Us</h>
          <p class="t-sm mg-b-lw">About Us</p>
          <p class="t-sm mg-b-lw">Careers</p>
          <p class="t-sm mg-b-lw">Press Releases</p>
          <p class="t-sm mg-b-lw">Amazon Science</p>
        </div>
        <div class="footer-list">
          <h class="h-8 mg-b-sm">Let Us Help You</h>
          <p class="t-sm mg-b-lw">COVID-19 and Amazon</p>
          <p class="t-sm mg-b-lw">Returns Centre</p>
          <p class="t-sm mg-b-lw">100% Purchase Protection</p>
          <p class="t-sm mg-b-lw">Amazon Science</p>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="copyright-container container-60 mg-c">
        <p class="pt-lw">Conditions of Use & Sale</p>
        <p class="pt-lw">Privacy Notice</p>
        <p class="pt-lw">Interest Based Ads</p>
        <p class="pt-lw">1996-2022,Amazon.com, Inc or its affliates</p>
      </div>
    </div>
  </div>
</footer>