    <!-- header -->
    <header class="header">
        <div class="header-content f-sm">
          <!-- logo -->
          <div class="header-box">
            <a href="/" class="logo-box">
              <img src="../../img/amazon/logo.png" class="logo" alt="" />
            </a>
          </div>
  
          <!-- delivery location -->
          <a
            class="header-box f-lw"
            href="customer/change-delievery-location"
            data-type="change-delievery-location"
          >
            <i class="fa fa-map-marker"></i>
            <div>
              <p class="pt-lw">Deliver to Rohit</p>
              <h9 class="h-9">Merrut 250001</h9>
            </div>
          </a>
  
          <!-- search form -->
          <div class="search-form">
            <div class="search-form-content">
              <input
                type="text"
                class="search-input"
                data-positionel-btn
                data-positionel-name="search-products"
              />
  
              <button class="btn-icon" data-action="search">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
  
          <!-- user language  -->
          <div
            class="header-box"
            data-type="change-user-language"
            data-positionel-btn
            data-positionel-name="choose-language"
          >
            <!-- <img src="https://countryflagsapi.com/png/india" alt="" /> -->
            <h9 class="h-9">EN</h9>
            <div class="header-language-more-icon-box">
              <i
                class="fa fa-caret-down"
                data-positionel-marker
                aria-hidden="true"
              ></i>
            </div>
          </div>
  
          <!-- account and lists -->
          <a
            href="/my-accounts"
            class="header-box"
            data-type="account_and_lists"
            data-positionel-btn
            data-positionel-name="user-options"
          >
            <p class="pt-lw">Hello,mclaren</p>
            <div class="f-lw f-ac">
              <p class="h-9 h-0">Account & Lists</p>
              <i class="fa fa-caret-down" data-positionel-marker></i>
            </div>
          </a>
  
          <!-- returns and orders -->
          <a href="/my-orders" class="header-box" data-type="return_and_orders">
            <p class="pt-lw">Returns</p>
            <div>
              <p class="h-9 h-0">& Orders</p>
            </div>
          </a>
  
          <!-- carts -->
          <a href="/my-cart" class="header-box" data-type="carts">
            <div class="header-cart-box">
              <div class="header-cart-icon">
                <i class="fa fa-cart-plus"></i>
                <p class="header-cart-qty">9</p>
              </div>
              <h class="h-9 h-0">Cart</h>
            </div>
          </a>
  
        </div>
      </header>
  