    <!-- navigation -->
    <nav class="nav" data-active="false">
      <div class="overlay"></div>
      <div class="nav-list">
        <div class="list-item nav-my-account f f-sb f-ac">
          <a
            href="/my-account"
            class=""
            data-link="/my-account"
            data-hover="false"
          >
            <div class="f-lw">
              <i class="fa fa-user-circle nav-user-icon"></i>

              <h class="h-7 w-700 h-0"> Hello, mclaren </h>
            </div>
          </a>
          <button class="btn-icon" data-action="close-nav">
            <i class="fa fa-times"></i>
          </button>
        </div>

        <!-- trending -->
        <div class="list">
          <p class="list-title">Trending</p>
          <a href="/best-sellers" class="list-item" data-link="/best-sellers">
            <p>Best sellers</p>
          </a>
          <a class="list-item" href="/new-products">
            <p>New releases</p>
          </a>
          <a class="list-item" href="/trending-products">
            <p>Movers and Shakers</p>
          </a>
        </div>

        <div class="line mg-b-lw mg-t-lw"></div>

        <!-- settings -->
        <div class="list">
          <p class="list-title">Help & Settings</p>
          <a class="list-item" href="/my-account">
            <p>Your Account</p>
          </a>
          <a class="list-item" href="/customer-service">
            <p>Customer Service</p>
          </a>
          <a class="list-item" href="/logout">
            <p>Sign Out</p>
          </a>
        </div>
      </div>
    </nav>

    <!-- shortcut-navigation -->

    <div class="shortcut-navigation f">
   
      <div class="nav-btn-box border f" data-nav-btn>
        <button class="nav-btn">
          <p class="nav-btn-line"></p>
          <p class="nav-btn-line"></p>
          <p class="nav-btn-line"></p>
        </button>
        <h class="h-9 h-0">All</h>
      </div>

      <a href="/my-cart" class="border">
        <h class="h-9 h-0"> Buy again </h>
      </a>

      <a href="/products" class="border">
        <h class="h-9 h-0"> Heath,Household & Personal Care </h>
      </a>

      <a href="/my-orders" class="border">
        <h class="h-9 h-0"> Orders </h>
      </a>
    </div>