doctype html
html(lang="en" class="waitload" data-theme="light")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Document
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap' rel='stylesheet')
        link( rel='icon' href='/img/twitter/favicon.png' type="image/png")
        link(rel='stylesheet' href='/style.css')
        script(src='https://kit.fontawesome.com/28cd1ccca7.js' crossorigin='anonymous')
        script(src='https://unpkg.com/axios/dist/axios.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/immer/9.0.15/immer.umd.production.min.js', integrity='sha512-3JsFAUa3jXEYKaFyQWG3KFIyx051rsfOMAC4b5+QPjD+CPZ6BC1lhVcAJjyfZBE7YcUXdBEapaGC6hj7wa8+ww==', crossorigin='anonymous', referrerpolicy='no-referrer')
        script(defer type='module' src='/script.js')


    body(data-page=page data-user=userData && userData.profile data-user-currency=userData && userData.currency)

            include ../components/error/_alertError

            include ../layouts/header

            block navbar
                include ../layouts/navbar


                main
                    block section  
                block positionels
                block row


            include ../layouts/footer